<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body >
    <h1>Survey Data</h1>
    <h2>Strongest Feature</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].color %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>
    <h2>Other Strong Aspect</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].fruit %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>
    <h2>Target Audience</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].animal %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>
</body>
</html>